.popup {
max-width: 1280px;
width: 100%;
height: 100vh;
position: fixed;
top: 0;
left: 0;
bottom: 0;
right: 0;
display: none;
}

.popup::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #2A2C2F;
  opacity: .5;
  z-index: 1;
}
