.profile__button-image {
  margin: auto;
  max-width: 10px;
  max-height: 10px;
}

@media screen and (max-width: 550px) {
  .profile__button-image {
    max-width: 7.5px;
    max-height: 7.5px;
  }
}
