.header__logo {
  margin: 0;
  margin-bottom: 41px;
  max-width: 142px;
  max-height: 33px;
}

@media screen and (max-width: 880px) {
  .header__logo {
    margin-left: 27px;
  }
}

@media screen and (max-width: 500px) {
  .header__logo {
    margin-bottom: 31px;
    max-width: 103px;
    max-height: 24px;
  }
}
