.profile__name {
  max-width: 294px;
  margin: 0;
  margin-bottom: 16px;
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 2.6rem;
  line-height: 1.15;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 550px) {
  .profile__name {
    margin-bottom: 14px;
    margin-left: 46px;
    margin-right: 47px;
    max-width: 190px;
    font-size: 27px;
    line-height: 33px;

  }
}
