.profile__info {
  position: relative;
  margin: auto 0;
  max-width: 336px;
  display: grid;
  grid-template-columns: minmax(189px, 294px) 1fr;
}

@media screen and (max-width: 550px) {
  .profile__info {
    display: block;
    max-width: 282px;
    text-align: center;
  }
}
