.element__group-like {
  min-width: 22px;
  height: 19px;
  margin: 0;
  padding: 0;
  background-image: url(../../../images/like-1.svg);
  border: none;
  background-color: transparent;
  background-size: cover;
  align-self: center;

}

.element__group-like:hover {
  opacity: .5;
  cursor: pointer;
}

