.profile__button {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 15px;
  right: 0;
  background-color: black;
  border: 1px solid #FFFFFF;
  width: 24px;
  height: 24px;
}

.profile__button:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  .profile__button {
    width: 18px;
    height: 18px;
    top: 8px;
    right: 19px;
  }
}
