.profile__button {
  padding: 0;
  margin: 15px 0 0 18px;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  width: 24px;
  height: 24px;
  background-image: url(../../../images/редактировать.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.profile__button:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  .profile__button {
    position: absolute;
    margin: 0;
    width: 18px;
    height: 18px;
    top: 8px;
    right: 19px;
  }
}
